[Unit]
Description=Thundersnap development daemon
Wants=network-pre.target
After=network-pre.target

[Service]
EnvironmentFile=/etc/default/thundersnapd-dev
ExecStart=/usr/sbin/thundersnapd-dev --libexec-dir=/usr/libexec/thundersnap-dev --state-dir=/var/lib/thundersnap-dev --autorun=false $FLAGS
Restart=on-failure
RuntimeDirectory=thundersnap-dev
RuntimeDirectoryMode=0755
StateDirectory=thundersnap-dev
StateDirectoryMode=0700
Type=simple

[Install]
WantedBy=multi-user.target
